{% set CSS_dir = "../_components/main.css" %}
{% set body_class = "CSS_page" %}
{% set Title = "CSS docs" %}
{% set HeaderContent = "Page about CSS" %}
{% extends "base.njk" %}

{% block Options %}
    <option value="color"></option>.
    <option value="background-color"></option>
    <option value="font-size"></option>
    <option value="width"></option>
    <option value="border"></option>
    <option value="padding"></option>
    <option value="margin"></option>
{% endblock %}

{% block Content %}
    <h3 id="color">color</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus inventore nemo placeat reiciendis sequi
            unde? Aliquid amet animi aut blanditiis consectetur eligendi esse explicabo, fuga id inventore laborum
            libero nobis odio odit quidem quis sapiente soluta veniam. Adipisci, aperiam atque consectetur dignissimos
            eligendi et excepturi explicabo harum impedit in ipsam iste itaque, modi molestiae numquam odio porro quae
            quaerat, quasi reprehenderit repudiandae sed veritatis voluptas. Commodi culpa esse ex excepturi harum, iste
            iure laudantium molestiae nemo neque odio officiis optio quod reprehenderit, rerum totam veniam! Doloremque
            explicabo fugiat laborum officiis quos repellendus reprehenderit, sed veniam. Accusantium iste temporibus
            vel? Quas?</p>
    <h3 id="background-color">background-color</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae harum illo iusto numquam omnis quasi,
            repudiandae sint ullam! A alias consectetur corporis cum eos, error fugiat id itaque laboriosam obcaecati
            officia porro similique totam voluptates voluptatum. Architecto consectetur quas saepe. Dolores eaque earum
            expedita libero ratione suscipit voluptates! Amet, rem ut? At commodi consequuntur dolorem ea esse et illum,
            impedit in magnam minus necessitatibus nemo non odio odit pariatur porro ratione repudiandae sed similique
            ullam unde voluptatem voluptatum. Ad alias autem corporis deserunt dolores earum est et id ipsam nam,
            possimus quibusdam quod recusandae sapiente sed vel veritatis voluptatibus.</p>
    <h3 id="font-size">font-size</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolore ipsa libero nisi nobis quae quisquam!
            Facilis fugiat fugit id iure nam numquam quia. Ab aliquam architecto cum cupiditate dolores nam sapiente
            vitae! Alias aperiam aut debitis dolores eaque enim error illo magnam minima modi neque perferendis,
            repellat ullam. Obcaecati, omnis, sit. Ab accusantium amet assumenda autem consectetur consequatur,
            consequuntur dicta dolor dolore excepturi facere facilis fuga fugiat in ipsum, minus nesciunt optio quae
            quidem quos reiciendis rem sequi sunt tenetur veniam veritatis voluptas. Dolorum, enim eveniet! Corporis
            dolore facere labore neque nulla numquam possimus. Dolore error facilis ipsa nisi.</p>
    <h3 id="width">width</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto autem beatae dicta dolorem ducimus
            labore neque nihil quaerat, quod quos veritatis. Ad asperiores aut consequuntur distinctio eaque enim eos
            eveniet exercitationem explicabo fuga ipsa iste laboriosam, laborum magnam magni molestiae molestias natus
            nemo nobis officiis optio placeat provident quae quasi quia quis ratione rerum saepe sapiente soluta tempore
            veniam voluptate voluptates. Culpa cum distinctio, eum eveniet illo ipsa labore libero, minus porro quam
            quas sed soluta? Ab at, doloribus ea eos fugiat hic in minima non provident qui quia quod ratione? Explicabo
            minima natus ratione. Adipisci error nostrum porro.</p>
    <h3 id="border"> border</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores consequuntur cupiditate fuga
            hic labore, maiores minima, molestiae nostrum provident quam, quidem rem reprehenderit? Culpa provident sunt
            velit. Aliquam, animi delectus dicta dolor dolorum et explicabo facilis maiores modi molestiae nam odio,
            odit optio placeat, quis sapiente sed sint unde veritatis vero? Consequatur deleniti nostrum officia
            provident voluptatum? Ab animi corporis, doloremque error est excepturi expedita impedit iusto
            necessitatibus nisi nulla obcaecati officiis pariatur qui quos sed similique sit? Animi commodi, deserunt ea
            illo libero, nemo nobis omnis pariatur perferendis sapiente soluta voluptas. Aliquid ea fuga illum, natus
            praesentium voluptate?</p>
    <h3 id="padding">padding</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid doloremque earum enim harum ipsa, iusto
            magni minus molestiae omnis optio placeat qui quidem quis, quisquam sapiente tempora tenetur voluptas!
            Delectus eligendi est mollitia quibusdam voluptatum. Accusantium adipisci iure pariatur quasi rerum
            voluptates? A ad aspernatur, atque debitis doloremque dolorum eaque enim excepturi fugiat fugit id ipsam
            ipsum magni molestiae mollitia neque nihil nulla optio perferendis quae quas quibusdam ratione similique
            tenetur unde vel voluptates? A, accusantium aliquid aperiam assumenda at aut dicta distinctio, enim error
            eveniet minus nemo nobis nostrum quasi quia quod repellendus sint sit suscipit vel veritatis vero.</p>
    <h3 id="margin">margin</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab blanditiis dolores eum, eveniet excepturi
            expedita maiores molestiae nostrum placeat quae quod voluptate! Accusamus ad asperiores consequuntur ea, eos
            expedita fugit molestiae nihil numquam perspiciatis praesentium repellat rerum sed voluptatem voluptatibus!
            Amet animi architecto, at consectetur culpa dolore eveniet illum iste magnam magni minus modi, molestiae
            mollitia neque nihil, nisi non odio pariatur quam quibusdam quisquam repudiandae similique sint sit tenetur?
            Amet aspernatur assumenda culpa cumque distinctio dolorum eveniet, facere hic nam odio officiis placeat
            porro quas similique sint, veniam, voluptatem voluptates! Adipisci asperiores, cumque deleniti dolore id
            ipsum porro tempora!</p>
{% endblock %}

