{% set CSS_dir = "./_components/main.css" %}
{% set body_class = "home" %}
{% set Title = "Home" %}
{% extends "base.njk" %}
{% block Content %}
    <div class="block"><h2>How does the internet work?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ex iste magnam nostrum numquam praesentium
            quae
            rem vero? Cum fugit magnam magni non odio quas reiciendis! Ab aliquid assumenda atque consectetur
            consequuntur
            cum deserunt dolorem, ea eos esse est eum ex expedita facilis fuga fugiat, ipsam, ipsum itaque laudantium
            magnam
            maxime nam nemo neque obcaecati optio quis reiciendis sapiente tempore temporibus ullam. Deleniti dolor
            illum
            inventore modi molestias quaerat reiciendis sequi similique unde vel! Aliquid autem beatae blanditiis
            distinctio
            doloribus fuga id laboriosam magnam magni maxime neque, nostrum obcaecati quis quo quos similique tempora
            voluptate. Asperiores inventore nemo obcaecati placeat.</p></div>
    <div class="block"><h2>What is HTTP?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci, assumenda aut culpa delectus
            deleniti earum enim error et, itaque maiores maxime molestiae mollitia obcaecati officiis, quas quod
            recusandae
            sed! A aliquid aperiam culpa dicta dolores error fugiat in mollitia numquam omnis praesentium qui quibusdam
            quidem, ratione saepe sapiente similique! Amet, commodi nemo! Accusamus accusantium architecto consequatur,
            culpa, distinctio eaque eius eligendi enim eos explicabo fuga id incidunt iure, iusto laboriosam natus nisi
            nostrum obcaecati officia omnis perspiciatis quae quaerat quia quis quo rem repellat sapiente sunt tempore
            temporibus unde voluptate voluptates voluptatibus. Aperiam incidunt labore laudantium nihil perferendis
            sit!</p></div>
    <div class="block"><h2>Browsers and how they work</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eius eveniet incidunt molestiae nesciunt
            quisquam tempore totam voluptatum. Accusamus ad architecto aspernatur eaque enim, et laborum, magnam nam
            natus,
            nemo perferendis quasi rerum ullam. Ex inventore magni perspiciatis placeat saepe vel voluptate
            voluptatibus.
            Amet atque dignissimos dolore doloremque eum possimus ratione repudiandae. Ab adipisci alias aliquam dicta
            enim
            exercitationem explicabo id molestiae mollitia natus nisi optio quas quia quod sed sint, totam veniam?
            Consequatur, distinctio eaque enim ipsam obcaecati quisquam soluta? Architecto culpa delectus doloremque
            esse
            facere fugit, in ipsa iusto labore laborum non, odio porro quam quas, quos repellendus.</p></div>
    <div class="block"><h2>DNS and how it works</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis commodi cupiditate enim eos
            error
            est ipsum, neque officia omnis pariatur possimus, recusandae. Aliquam amet, asperiores consequuntur
            cupiditate
            debitis dicta dolor ex explicabo fugit harum id minima nisi numquam provident quisquam suscipit voluptates?
            Dolorem dolores eveniet exercitationem itaque molestias nemo officia quas rem veniam! Ab assumenda, aut
            autem
            dolor dolore dolorum esse est inventore magnam maxime modi neque nobis optio praesentium provident quasi
            totam
            ullam! Aliquam, aliquid atque cupiditate deleniti distinctio dolores est et itaque magni natus nihil odio
            officia, pariatur possimus provident quo suscipit temporibus vitae voluptas voluptatem. A aspernatur at
            autem
            dolorem dolores est et eum hic in ipsa laboriosam laudantium placeat possimus, quae quo suscipit totam?
            Alias
            cupiditate, delectus excepturi illum labore repellendus reprehenderit. Ab accusantium, adipisci asperiores
            assumenda aut beatae commodi cum delectus dicta distinctio, dolor dolorem eius eligendi eum, excepturi id
            illo
            iure laborum minus molestias mollitia nesciunt nisi nostrum omnis optio perferendis quae quidem reiciendis
            sint
            vel velit veritatis voluptas voluptatem. Cupiditate delectus deleniti eius, itaque iusto non quas. Accusamus
            aut
            consequatur dolore esse est maxime modi pariatur soluta! A debitis exercitationem iure laboriosam maxime
            mollitia numquam odio quia quo, voluptatem. Ex odio, sit?</p></div>
    <div class="block"><h2>What is hosting?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, animi corporis cum
            doloremque
            exercitationem facere fuga, fugiat harum iste libero, mollitia odio perferendis quo sunt suscipit vero.
            Adipisci
            aspernatur aut autem culpa cum delectus doloremque eaque earum eius esse exercitationem fugit hic impedit
            iste
            iure laborum laudantium molestias, necessitatibus non nulla odit omnis pariatur perferendis placeat
            provident
            quae quidem quisquam quos reiciendis sapiente, sed sequi sit suscipit totam veritatis voluptas voluptates.
            Animi
            consectetur consequuntur delectus facilis, hic magni officia omnis sint unde. Aliquam cum eaque ipsam
            maiores
            molestiae obcaecati pariatur qui, quis, quisquam ratione soluta temporibus tenetur totam. Quod!</p></div>
{% endblock %}

