{% set body_class = "HTML_page" %}
{% set Title = "HTML docs" %}
{% set HeaderContent = "Page about HTML" %}
{% set Title_h1 = "Short Web Documentation" %}
{% extends "../_includes/base.njk" %}
{% block Css_links %}
    <link rel="stylesheet" href="../_components/main.css" type="text/css">
    <link rel="stylesheet" href="../_components/next_steps.css" type="text/css">
{% endblock %}
{% block Options %}
    <option value="<html>">fdsafsda</option>.
    <option value="<header>"></option>
    <option value="<body>"></option>
    <option value="<img>"></option>
    <option value="<a>"></option>
    <option value="<b>"></option>
    <option value="<i>"></option>
{% endblock %}

{% block Content %}
    <h3 id="<html>">html</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet animi commodi culpa dolore dolorem
        doloremque
        dolorum ea eaque est facilis ipsum, iste magni maxime, pariatur praesentium quos similique sit tenetur,
        voluptatem!
        Aperiam aspernatur blanditiis commodi culpa dignissimos dolor dolorum enim eos explicabo fuga minus natus
        neque
        non
        obcaecati pariatur quae, quis quos recusandae repellat similique, sunt tempora, veritatis vitae! Ab amet
        aperiam
        earum maiores possimus! Consequatur delectus enim hic ipsam magnam nisi possimus rerum sit! Hic, maxime
        necessitatibus quis repellendus veniam veritatis voluptate? Alias aliquid amet animi dicta, doloremque
        facilis
        ipsa
        nisi perspiciatis, quaerat, quis repellendus unde velit voluptatem?</p>

    <h3 id="<header>">header</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet animi commodi culpa dolore dolorem
        doloremque
        dolorum ea eaque est facilis ipsum, iste magni maxime, pariatur praesentium quos similique sit tenetur,
        voluptatem!
        Aperiam aspernatur blanditiis commodi culpa dignissimos dolor dolorum enim eos explicabo fuga minus natus
        neque
        non
        obcaecati pariatur quae, quis quos recusandae repellat similique, sunt tempora, veritatis vitae! Ab amet
        aperiam
        earum maiores possimus! Consequatur delectus enim hic ipsam magnam nisi possimus rerum sit! Hic, maxime
        necessitatibus quis repellendus veniam veritatis voluptate? Alias aliquid amet animi dicta, doloremque
        facilis
        ipsa
        nisi perspiciatis, quaerat, quis repellendus unde velit voluptatem?</p>

    <h3 id="<img>">Image</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet animi commodi culpa dolore dolorem
        doloremque
        dolorum ea eaque est facilis ipsum, iste magni maxime, pariatur praesentium quos similique sit tenetur,
        voluptatem!
        Aperiam aspernatur blanditiis commodi culpa dignissimos dolor dolorum enim eos explicabo fuga minus natus
        neque
        non
        obcaecati pariatur quae, quis quos recusandae repellat similique, sunt tempora, veritatis vitae! Ab amet
        aperiam
        earum maiores possimus! Consequatur delectus enim hic ipsam magnam nisi possimus rerum sit! Hic, maxime
        necessitatibus quis repellendus veniam veritatis voluptate? Alias aliquid amet animi dicta, doloremque
        facilis
        ipsa
        nisi perspiciatis, quaerat, quis repellendus unde velit voluptatem?</p>
    <h3 id="<a>">&#60;a&#62;(Anchor)</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet animi commodi culpa dolore dolorem
        doloremque
        dolorum ea eaque est facilis ipsum, iste magni maxime, pariatur praesentium quos similique sit tenetur,
        voluptatem!
        Aperiam aspernatur blanditiis commodi culpa dignissimos dolor dolorum enim eos explicabo fuga minus natus
        neque
        non
        obcaecati pariatur quae, quis quos recusandae repellat similique, sunt tempora, veritatis vitae! Ab amet
        aperiam
        earum maiores possimus! Consequatur delectus enim hic ipsam magnam nisi possimus rerum sit! Hic, maxime
        necessitatibus quis repellendus veniam veritatis voluptate? Alias aliquid amet animi dicta, doloremque
        facilis
        ipsa
        nisi perspiciatis, quaerat, quis repellendus unde velit voluptatem?</p>

    <h3 id="<b>">&#60;b&#62;(Bold)</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet animi commodi culpa dolore dolorem
        doloremque
        dolorum ea eaque est facilis ipsum, iste magni maxime, pariatur praesentium quos similique sit tenetur,
        voluptatem!
        Aperiam aspernatur blanditiis commodi culpa dignissimos dolor dolorum enim eos explicabo fuga minus natus
        neque
        non
        obcaecati pariatur quae, quis quos recusandae repellat similique, sunt tempora, veritatis vitae! Ab amet
        aperiam
        earum maiores possimus! Consequatur delectus enim hic ipsam magnam nisi possimus rerum sit! Hic, maxime
        necessitatibus quis repellendus veniam veritatis voluptate? Alias aliquid amet animi dicta, doloremque
        facilis
        ipsa
        nisi perspiciatis, quaerat, quis repellendus unde velit voluptatem?</p>

    <h3 id="<i>">&#60;i&#62;(Italic)</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet animi commodi culpa dolore dolorem
        doloremque
        dolorum ea eaque est facilis ipsum, iste magni maxime, pariatur praesentium quos similique sit tenetur,
        voluptatem!
        Aperiam aspernatur blanditiis commodi culpa dignissimos dolor dolorum enim eos explicabo fuga minus natus
        neque
        non
        obcaecati pariatur quae, quis quos recusandae repellat similique, sunt tempora, veritatis vitae! Ab amet
        aperiam
        earum maiores possimus! Consequatur delectus enim hic ipsam magnam nisi possimus rerum sit! Hic, maxime
        necessitatibus quis repellendus veniam veritatis voluptate? Alias aliquid amet animi dicta, doloremque
        facilis
        ipsa
        nisi perspiciatis, quaerat, quis repellendus unde velit voluptatem?</p>

{% endblock %}