<div class="next-steps">
    <hr class="line">
    <h2>Next steps</h2>
    <ul>
        <li><h4><a href="/how_does_internet_works">How does internet works?</a></h4> </li>
        <li><h4><a href="/what_is_HTTP">What is HTTP?</a></h4></li>
        <li><h4><a href="/DNS_and_how_it_works">DNS and how it works </a></h4></li>
        <li><h4><a href="/Pages_sites_servers_and_search_engines">Understanding the difference between
                    a web page, a web site, a web server and a search engine</a></h4></li>
    </ul>
    <hr class="line">
</div>