.next-steps ul li h4 {
    font-family: "Zilla Slab", sans-serif;
    color: #464646;
    margin: 3px 0;
}

.next-steps ul li h4:hover {
    color: #333;
}

.next-steps ul li h4 a {
    color: inherit;
}

.next-steps {
    margin: 30px 0;
}

.next-steps h2 {
    margin: 5px 0;
    font-size: 35px;
}

.next-steps ul li {
    list-style: disc;
    margin-left: 50px;
}

.line {
    color: #333;
    margin: 20px 0;
}