<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widthitial-scale=1, shrink-to-fit=no">
    <title> {{ Title }} </title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Raleway&family=Roboto&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">
    {% block Css_links %}
    {% endblock %}
</head>
<body class="{{ body_class }}">
<nav class="navbar bg-white">
    <div class="nav-inner">
        <div class="logo-container">
            <a href="{{ '/' | url }}" class="logo" aria-label="Web Docs">{% include "../components/img/logo.svg" %}</a>
            {#                <img src="../_components/img/logo_faster.png" alt="logo" height=55px>#}
        </div>
        <div class="form-container">
            <form class="form-inline" action="javascript:;" onsubmit="scrollToInput()">
                <input id="input-search" type="search" placeholder="Search"
                       list="listOfContent"
                       autocomplete="off" aria-label="Search">
                <datalist id="listOfContent">
                    {% block Options %}
                    {% endblock %}
                </datalist>
                <button class="btn" type="submit">Search
                </button>
            </form>
        </div>
        <ul class="navigation">
            <li id="home_page"><a href="{{ '/' | url }}">Home</a></li>
            <li id="html_page"><a href="{{ '/html_section/' | url }}">HTML docs</a></li>
            <li id="css_page"><a href="{{ '/css_section/' | url }}">CSS docs</a></li>
        </ul>

    </div>
</nav>
<div class="titlebar-container">
    <div class="titlebar"><h1 class="title">{{ Title_h1 }}</h1></div>
</div>
<div class="main">
    {% block Content %}
    {% endblock %}
</div>
{#<script>#}
{#    // little script, SORRY)#}
{#    function scrollToInput() {#}
{#        var name_element = document.getElementById('input-search').value;#}
{#        document.getElementById(name_element).scrollIntoView(true);#}
{#    }#}
{#</script>#}
</body>
</html>