<div class="next-steps">
    <hr class="line">
    <h2>Next steps</h2>
    <ul>
        <li><h4><a href="{{ '/home/how_does_internet_works/' | url }}">How does internet works?</a></h4> </li>
        <li><h4><a href="{{ '/home/what_is_HTTP/' | url }}">What is HTTP?</a></h4></li>
        <li><h4><a href="{{ '/home/DNS_and_how_it_works/' | url }}">DNS and how it works </a></h4></li>
        <li><h4><a href="{{ '/home/browsers_and_how_they_work/' | url }}">Browsers and how they work</a></h4></li>
        <li><h4><a href="{{ '/home/Pages_sites_servers_and_search_engines/' | url }}">Understanding the difference between
                    a web page, a web site, a web server and a search engine</a></h4></li>
    </ul>
    <hr class="line">
</div>