{% set body_class = "CSS_page" %}
{% set Title = "CSS docs" %}
{% set Title_h1 = "Short CSS Documentation" %}
{% extends "../../includes/base.njk" %}

{% block Css_links %}
    <link rel="stylesheet" href="{{ "/components/main.css"| url }}">
    <link rel="stylesheet" href="{{ "/components/next_steps.css"| url }}">
{% endblock %}

{% block Content %}
    <div class="block">

        <h2 id="element-selectors">Element selectors</h2>
        <p><strong>Element</strong> -- selects all <code>h2</code> elements on the page</p>
        <pre class="sourceCode CSS"><code class="sourceCode css">h2 <span class="kw">{</span>
    <span class="kw">foo:</span> bar<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Group</strong> -- selects all <code>h1</code>, <code>h2</code> and <code>h3</code> elements on the
            page</p>
        <pre class="sourceCode CSS"><code class="sourceCode css">h1, h2, h3 <span class="kw">{</span>
    <span class="kw">foo:</span> bar<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <h2 id="class-and-id-selectors">Class and ID selectors</h2>
        <p><strong>Class</strong> -- selects all elements with class attribute containing <code>foo</code> or only
            <code>p</code> elements with that class</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span> <span class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span>
p<span class="fl">.foo</span> <span class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>ID</strong> -- selects the element with 'baz' id attribute value</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">#foo</span> <span class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <h2 id="contextual-selectors">Contextual selectors</h2>
        <p><strong>Descendant</strong> -- selects all <code>p</code> elements within the infinite-level hierarchy of
            element
            <code>#foo</code> descendants</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">#foo</span> p <span
                        class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Adjacent sibling</strong> -- selects the sibling element <code>p</code> that is immediately next to
            <code>h2</code> element</p>
        <pre class="sourceCode CSS"><code class="sourceCode css">h2 + p <span class="kw">{</span>
    <span class="kw">foo:</span> bar<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Child</strong> -- selects all <code>p</code> elements that are immediate children of
            <code>#foo</code>
            element</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">#foo</span> &gt; p <span
                        class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>General sibling</strong> -- selects all elements <code>p</code> that are siblings to the
            <code>h2</code>
            element</p>
        <pre class="sourceCode CSS"><code class="sourceCode css">h2 ~ p <span class="kw">{</span>
    <span class="kw">foo:</span> bar<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <h2 id="pseudo-class-selectors">Pseudo-class selectors</h2>
        <h3 id="pseudo-class-selectors-for-link-and-user-states">Pseudo-class selectors for link and user states</h3>
        <p><strong>Unvisited link</strong> -- applies to link elements that have not been visited</p>
        <pre class="sourceCode CSS"><code class="sourceCode css">a<span class="dv">:link</span> <span
                        class="kw">{</span>
    <span class="kw">foo:</span> bar<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Visited link</strong> -- applies to link elements that have been visited</p>
        <pre class="sourceCode CSS"><code class="sourceCode css">a<span class="dv">:visited</span> <span
                        class="kw">{</span>
    <span class="kw">foo:</span> bar<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Focus state</strong> -- applies to selected <code>.foo</code> element that is ready for input</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="dv">:focus</span> <span class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Hover state</strong> -- applies when mouse pointer is over the <code>.foo</code> element</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="dv">:hover</span> <span class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Active state</strong> -- applies when <code>.foo</code> element is in process of being clicked</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="dv">:active</span> <span class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <h3 id="pseudo-class-selectors-that-apply-to-siblings">Pseudo-class selectors that apply to siblings</h3>
        <p><strong>First child</strong> -- selects the specified <code>.foo</code> element when it is the first child of
            its
            parent</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="dv">:first-child</span> <span class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Last child</strong> -- selects the specified <code>.foo</code> element when it is the last child of
            its
            parent</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span class="dv">:last-child</span> <span
                        class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Only child</strong> -- selects the specified <code>.foo</code> element when it is the only child of
            its
            parent</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span class="dv">:only-child</span> <span
                        class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>First of type</strong> -- selects the <code>h2</code> element when it is the first element of its
            type within
            its parent element</p>
        <pre class="sourceCode CSS"><code class="sourceCode css">h2<span class="dv">:first-of-type</span> <span
                        class="kw">{</span>
    <span class="kw">foo:</span> bar<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Last of type</strong> -- selects the <code>h2</code> element when it is the last element of its type
            within
            its parent element</p>
        <pre class="sourceCode CSS"><code class="sourceCode css">h2<span class="dv">:last-of-type</span> <span
                        class="kw">{</span>
    <span class="kw">foo:</span> bar<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Only of type</strong> -- selects the <code>h2</code> element when it is the only element of its type
            within
            its parent element</p>
        <pre class="sourceCode CSS"><code class="sourceCode css">h2<span class="dv">:only-of-type</span> <span
                        class="kw">{</span>
    <span class="kw">foo:</span> bar<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Nth child</strong> -- selects the <code>n</code>th <code>.foo</code> child element</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="dv">:nth-child</span>(n) <span
                        class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Nth last child</strong> -- selects the <code>n</code>th <code>.foo</code> child element counting
            backwards
        </p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="dv">:nth-last-child</span>(n) <span class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Nth of type</strong> -- selects the <code>n</code>th <code>h2</code> child element of its type</p>
        <pre class="sourceCode CSS"><code class="sourceCode css">h2<span class="dv">:nth-of-type</span>(n) <span
                        class="kw">{</span>
    <span class="kw">foo:</span> bar<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Nth last of type</strong> -- selects the <code>n</code>th <code>h2</code> child element of its type
            counting
            backwards</p>
        <pre class="sourceCode CSS"><code class="sourceCode css">h2<span class="dv">:nth-last-of-type</span>(n) <span
                        class="kw">{</span>
    <span class="kw">foo:</span> bar<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p>Useful <code>n</code> values:</p>
        <ul>
            <li><code>odd</code> or <code>2n+1</code> -- every odd child or element</li>
            <li><code>even</code> or <code>2n</code> -- every even child or element</li>
            <li><code>n</code> -- every nth child or element</li>
            <li><code>3n</code> -- every third child or element (3, 6, 9, ...)</li>
            <li><code>3n+1</code> -- every third child or element starting with <code>1</code> (1, 4, 7, ...)</li>
            <li><code>n+6</code> -- all but first five children or elements (6, 7, 8, ...)</li>
            <li><code>-n+5</code> -- only first five children or elements (1, 2, ..., 5)</li>
        </ul>
        <h3 id="pseudo-element-selectors">Pseudo-element selectors</h3>
        <p><strong>First letter</strong> -- selects the first letter of the specified <code>.foo</code> element,
            commonly used
            with <code>:first-child</code> to target first paragraph</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="dv">::first-letter</span> <span class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>First line</strong> -- selects the first line of the specified <code>.foo</code> element, commonly
            used with
            <code>:first-child</code> to target first paragraph</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="dv">::first-line</span> <span class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Before</strong> -- adds generated content before the <code>.foo</code> element when used with
            <code>content</code> property</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="dv">::before</span> <span class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
    <span class="kw">content:</span> <span class="st">&#39;baz&#39;</span><span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>After</strong> -- adds generated content after the <code>.foo</code> element when used with
            <code>content</code> property</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="dv">::after</span> <span class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
    <span class="kw">content:</span> <span class="st">&#39;baz&#39;</span><span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <h2 id="attribute-selectors">Attribute selectors</h2>
        <p><strong>Present</strong> -- selects <code>.foo</code> elements with <code>bar</code> attribute present,
            regardless of
            its value</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="ch">[bar]</span> <span
                        class="kw">{</span>
    <span class="kw">fum:</span> baz<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Exact</strong> -- selects <code>.foo</code> elements where the <code>bar</code> attribute has the
            exact value
            of <code>fum</code></p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="ch">[bar=</span><span
                        class="st">&quot;fum&quot;</span><span class="ch">]</span> <span class="kw">{</span>
    <span class="kw">baz:</span> qux<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Whitespace separated</strong> -- selects <code>.foo</code> elements with <code>bar</code> attribute
            values
            contain specified partial value of <code>fum</code> (whitespace separated)</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="ch">[bar~=</span><span
                        class="st">&quot;fum&quot;</span><span class="ch">]</span> <span class="kw">{</span>
    <span class="kw">baz:</span> qux<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Hyphen separated</strong> -- selects <code>.foo</code> elements with <code>bar</code> attribute
            values
            contain specified partial value of <code>fum</code> immediately followed by hyphen (<code>-</code>)
            character</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="ch">[bar|=</span><span
                        class="st">&quot;fum&quot;</span><span class="ch">]</span> <span class="kw">{</span>
    <span class="kw">baz:</span> qux<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Begins with</strong> -- selects <code>.foo</code> elements where the <code>bar</code> attribute
            begins with
            <code>fum</code></p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="ch">[bar^=</span><span
                        class="st">&quot;fum&quot;</span><span class="ch">]</span> <span class="kw">{</span>
    <span class="kw">baz:</span> qux<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Ends with</strong> -- selects <code>.foo</code> elements where the <code>bar</code> attribute ends
            with
            <code>fum</code></p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="ch">[bar$=</span><span
                        class="st">&quot;fum&quot;</span><span class="ch">]</span> <span class="kw">{</span>
    <span class="kw">baz:</span> qux<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Containts</strong> -- selects <code>.foo</code> elements where the <code>bar</code> attribute
            contains string
            <code>fum</code> followed and preceded by any number of other characters</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="ch">[bar*=</span><span
                        class="st">&quot;fum&quot;</span><span class="ch">]</span> <span class="kw">{</span>
    <span class="kw">baz:</span> qux<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <h2 id="misc-selectors">Misc selectors</h2>
        <p><strong>Not</strong> -- selects <code>.foo</code> elements that are NOT <code>.bar</code> elements</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="dv">:not</span>(<span
                        class="fl">.bar</span>) <span class="kw">{</span>
    <span class="kw">fum:</span> baz<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Root</strong> -- selects the highest level parent element in the DOM</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="dv">:root</span> <span class="kw">{</span>
    <span class="kw">foo:</span> bar<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>Empty</strong> -- selects <code>.foo</code> elements that have no children or whitespace inside</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="dv">:empty</span> <span class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        <p><strong>In-range</strong> and <strong>Out-of-range</strong> -- selects <code>.foo</code> elements that have
            values in
            or out of range</p>
        <pre class="sourceCode CSS"><code class="sourceCode css"><span class="fl">.foo</span><span
                        class="dv">:</span>in-range <span class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span>
<span class="fl">.foo</span><span class="dv">:</span>out-of-range <span class="kw">{</span>
    <span class="kw">bar:</span> fum<span class="kw">;</span>
<span class="kw">}</span></code></pre>
        {% include "../../includes/CSS_next_steps.njk" %}
    </div>
{% endblock %}