{% set body_class = "CSS_page" %}
{% set Title = "HTML docs" %}
{% set Title_h1 = "Making layouts" %}
{% extends "../../includes/base.njk" %}
{% block Css_links %}
    <link rel="stylesheet" href="{{ "/components/main.css"| url }}">
    <link rel="stylesheet" href="{{ "/components/next_steps.css"| url }}">
{% endblock %}
{% block Options %}
    <option value="<html>"></option>.
    <option value="<header>"></option>
    <option value="<body>"></option>
    <option value="<img>"></option>
    <option value="<a>"></option>
    <option value="<b>"></option>
    <option value="<i>"></option>
{% endblock %}

{% block Content %}


{% endblock %}