{% set body_class = "Home_page" %}
{% set Title = "Web docs" %}
{% set Title_h1 = "What is the difference between webpage, website, web server, and search engine?" %}
{% extends "../../includes/base.njk" %}
{% block Css_links %}
    <link rel="stylesheet" href="../../_components/main.css" type="text/css">
    <link rel="stylesheet" href="../../_components/next_steps.css" type="text/css">
{% endblock %}
{% block Content %}
<div class="block">
    <h3 id="Web_page">Web page</h3>

    <p>A <strong>web page</strong> is a simple document displayable by a <a class="glossaryLink" href="/en-US/docs/Glossary/browser" title="browser: A Web browser or browser is a program that retrieves and displays pages from the Web, and lets users access further pages through hyperlinks. A browser is the most familiar type of user agent.">browser</a>. Such documents are written in the <a class="glossaryLink" href="/en-US/docs/Glossary/HTML" title="HTML: HTML (HyperText Markup Language) is a descriptive language that specifies webpage structure.">HTML</a> language (which we look into in more detail in <a href="/en-US/docs/Web/HTML">other articles</a>). A web page can embed a variety of different types of resources such as:</p>

    <ul>
        <li><em>style information</em> — controlling a page's look-and-feel</li>
        <li><em>scripts</em> — which add interactivity to the page</li>
        <li><em>media</em> — images, sounds, and videos.</li>
    </ul>

    <div class="note">
        <p><strong>Note: </strong>Browsers can also display other documents such as <a class="glossaryLink" href="/en-US/docs/Glossary/PDF" title="PDF: PDF (Portable Document Format) is a file format used to share documentation without depending on any particular software implementation, hardware platform, or operating system. PDF provides a digital image of a printed document, and keeps the same appearance when printed.">PDF</a> files or images, but the term <strong>web page</strong> specifically refers to HTML documents. Otherwise, we only use the term <strong>document</strong>.</p>
    </div>

    <p>All web pages available on the web are reachable through a unique address. To access a page, just type its address in your browser address bar:</p>

    <p style="text-align: center;"><img alt="Example of a web page address in the browser address bar" src="https://mdn.mozillademos.org/files/8529/web-page.jpg" style="height: 239px; width: 650px;"></p>

    <h3 id="Web_site">Web site</h3>

    <p>A <em>website</em> is a collection of linked web pages (plus their associated resources) that share a unique domain name. Each web page of a given website provides explicit links—most of the time in the form of clickable portion of text—that allow the user to move from one page of the website to another.</p>

    <p>To access a website, type its domain name in your browser address bar, and the browser will display the website's main web page, or <em>homepage </em>(casually referred as "the home"):</p>

    <p><img alt="Example of a web site domain name in the browser address bar" src="https://mdn.mozillademos.org/files/8531/web-site.jpg" style="display: block; height: 365px; margin: 0px auto; width: 650px;"></p>

    <p>The ideas of a <em>web page</em> and a <em>website</em> are especially easy to confuse for a <em>website</em> that contains only one <em>web page.</em> Such a website is sometimes called a <em>single-page website.</em></p>

    <h3 id="Web_server">Web server</h3>

    <p>A <em>web server</em> is a computer hosting one or more <em>websites</em>. "Hosting" means that all the <em>web pages </em> and their supporting files are available on that computer. The <em>web server</em> will send any <em>web page</em> from the <em>website</em> it is hosting to any user's browser, per user request.</p>

    <p>Don't confuse <em>websites</em> and <em>web servers</em>. For example, if you hear someone say, "My website is not responding", it actually means that the <em>web server</em> is not responding and therefore the <em>website</em> is not available. More importantly, since a web server can host multiple websites, the term <em>web server</em> is never used to designate a website, as it could cause great confusion. In our previous example, if we said, "My web server is not responding", it means that no websites on that web server are available.</p>

    <h3 id="Search_engine">Search engine</h3>

    <p>Search engines are a common source of confusion on the web. A search engine is a special kind of website that helps users find web pages from <em>other</em> websites.</p>

    <p>There are plenty out there: <a class="external" href="https://www.google.com/" rel="noopener">Google</a>, <a class="external" href="https://www.bing.com/" rel="noopener">Bing</a>, <a class="external" href="https://www.yandex.com/" rel="noopener">Yandex</a>, <a class="external" href="https://duckduckgo.com/" rel="noopener">DuckDuckGo</a>, and many more. Some are generic, some are specialized about certain topics. Use whichever you prefer.</p>

    <p>Many beginners on the web confuse search engines and browsers. Let's make it clear: A <em><strong>browser</strong></em> is a piece of software that retrieves and displays web pages; a <strong><em>search engine</em></strong> is a website that helps people find web pages from other websites. The confusion arises because, the first time someone launches a browser, the browser displays a search engine's homepage. This makes sense, because, obviously, the first thing you want to do with a browser is to find a web page to display. Don't confuse the infrastructure (e.g., the browser) with the service (e.g., the search engine). The distinction will help you quite a bit, but even some professionals speak loosely, so don't feel anxious about it.</p>

    <p>Here is an instance of Firefox showing a Google search box as its default startup page:</p>

    <p><img alt="Example of Firefox nightly displaying a custom Google page as default" src="https://mdn.mozillademos.org/files/8533/search-engine.jpg" style="display: block; height: 399px; margin: 0px auto; width: 650px;"></p>
    {% extends "../../includes/next_steps.njk" %}
</div>
{% endblock %}