<div class="next-steps">
    <hr class="line">
    <h2>Next steps</h2>
    <ul>
        <li><h4> <a href="{{ "/css_section/learn_the_basics" | url }}">Learn the basics</a></h4> </li>
        <li><h4>  <a href="{{ "/css_section/legacy_layout_methods" | url }}">Legacy layouts methods</a></h4></li>
        <li><h4><a href="{{ "/css_section/responsive_design_and_media_queries" | url }}">Responsive design and media
                    queries</a></h4></li>
        <li><h4>  <a href="{{ "/css_section/css_selectors" | url }}">CSS selectors</a></h4></li>
{#        <li><h4><a href="{{ "/html_section/conventions_and_best_practices/" | url }}">Conventions and Best Practices</a></h4></li>#}
    </ul>
    <hr class="line">
</div>