<div class="next-steps">
    <hr class="line">
    <h2>Next steps</h2>
    <ul>
        <li><h4><a href="{{ "/html_section/learn_the_basics"| url }}">Learn the basics</a></h4> </li>
        <li><h4><a href="{{ "/html_section/text_inputs/"| url }}">Text field and inputs </a></h4></li>
        <li><h4><a href="{{ "/html_section/what_are_vector_graphics/" | url }}">What are vector graphics?</a></h4></li>
        <li><h4><a href="{{ "/html_section/responsive_images/" | url }}">Responsive images</a></h4></li>
        <li><h4><a href="{{ "/html_section/conventions_and_best_practices/" | url }}">Conventions and Best Practices</a></h4></li>
    </ul>
    <hr class="line">
</div>