* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: url(/img/cream_dust.png) repeat 0 0;
    font-family: 'Roboto Light', sans-serif;
    min-width: 1300px;
}
h3 {
    font-size: 25px;
}
a {
    color: dimgrey;
}
.bg-white {
    background-color: white;
}

.navbar {
    width: 100%;
    height: 68px;
    display: block;
}

.nav-inner {
    width: 95%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container a {
    display: table-cell;
    vertical-align: middle;
}

.navigation {
    float: right;
    height: 100%;

}

.navigation li {
    height: 45px;
    display: table;
    float: left;
    padding: 0 20px;
    margin: 12px 40px;
    color: black;
}

.navigation li a {
    display: table-cell;
    vertical-align: middle;
    color: inherit;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;

}

.CSS_page #css_page, .HTML_page #html_page {
    background-color: black;
}

.CSS_page #css_page a, .HTML_page #html_page a {
    color: white;
}

.navigation li:hover {
    background-color: black;
    color: white;
}

.form-container {
    height: 100%;
    display: table;
    float: right;
    padding-left: 40px;
}

.form-inline {
    display: table-cell;
    vertical-align: middle;
}

#input-search {
    padding: 14.5px 16px;
    background: rgba(50, 50, 50, 0.2);
    border: 0 solid #dbdbdb;
    width: 250px;
}

.btn {
    position: relative;
    padding: 12.5px 15px;
    left: -8px;
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    border: 2px solid black;
}

.btn:hover {
    background-color: black;
    color: white;
}


.main {
    width: 80%;
    margin: 20px auto;
    font-size: 18px;
    text-align: justify;
}

.titlebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    background-color: #eee;
    border-bottom: solid 1px #dce3e5;
    border-top: solid 1px #dce3e5;
    box-sizing: border-box;
    width: 100%;
    min-height: 60px;
}

.titlebar {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-family: "Zilla Slab", sans-serif;
    font-size: 39px;
    color: #333;
}

div.block {
    margin: 20px 0;
}

.block h2 {
    font-family: "Zilla Slab", sans-serif;
    color: #464646;
    margin: 3px 0;
}
.block h2 :hover {
    color: #333;
}

h2 svg {
    fill: #333;
}


.block h2 a{
    color: inherit;
}

.block h3 {
    margin: 20px 0;
    display: inline-block;
    background-color: #333;
    padding-left: 40px;
    padding-right: 3px;
    color: #fff;
    font-weight: 100;
    line-height: 1.22;
    font-family: "Zilla Slab", sans-serif;
}
.block p img {
    display: block;
    margin: 10px auto;
}
.next-steps {
    margin: 30px 0;
}
.next-steps h2 {
    margin: 5px 0;
    font-size: 35px;
}
.next-steps ul li {
    list-style: disc;
    margin-left: 50px;
}
.next-steps ul li a {
    color: #333;
}
.line {
    color:#333;
    margin: 20px 0 ;
}