* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.bg-white {
    background-color: white;
}

.navbar {
    width: 100%;
    height: 68px;
    display: block;
}

.nav-inner {
    width: 95%;
    height: 100%;
    display: block;
    margin: 0 auto;
    min-width: 1200px;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container a {
    display: table-cell;
    vertical-align: middle;
}

.navigation {
    float: right;
    height: 100%;

}

.navigation li {
    height: 45px;
    display: table;
    float: left;
    padding: 0 20px;
    margin: 12px 40px;
    color: black;
}

.navigation li a {
    display: table-cell;
    vertical-align: middle;
    color: inherit;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;

}

.CSS_page #css_page, .HTML_page #html_page {
    background-color: black;
}

.CSS_page #css_page a, .HTML_page #html_page a {
    color: white;
}

.navigation li:hover{
    background-color: black;
    color:white;
}

.form-container {
    height: 100%;
    display: table;
    float: right;
    padding-left: 40px;
}

.form-inline {
    display: table-cell;
    vertical-align: middle;
    width: 300px;
}
#input-search {
    padding:14.5px 16px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}
.btn {
    position:relative;
    padding:12.5px 15px;
    left:-8px;
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    border:2px solid black;
}
.btn:hover  {
    background-color: black;
    color:white;
}