{% set body_class = "HTML_page" %}
{% set Title = "HTML docs" %}
{% set Title_h1 = "Conventions and Best Practices" %}
{% extends "../../includes/base.njk" %}
{% block Css_links %}
    <link rel="stylesheet" href="{{ "/components/main.css"| url }}">
    <link rel="stylesheet" href="{{ "/components/next_steps.css"| url }}">
    <link rel="stylesheet" href="{{ "/components/html_section.css"| url }}">
{% endblock %}
{% block Options %}
    <option value="<html>"></option>.
    <option value="<header>"></option>
    <option value="<body>"></option>
    <option value="<img>"></option>
    <option value="<a>"></option>
    <option value="<b>"></option>
    <option value="<i>"></option>
{% endblock %}

{% block Content %}

    <div class="block">
        <h2 id="General_markup_coding_style">General markup coding style</h2>

        <h3 id="Use_lowercase">Use lowercase</h3>

        <p>Use lowercase for all element names and attribute names/values, as it looks neater and means you can write
            markup faster:</p>

        <p>This is good:</p>

        <pre class="brush: html example-good">&lt;p class="nice"&gt;This looks nice and neat&lt;/p&gt;</pre>

        <p>This is not so good:</p>

        <pre class="brush: html example-bad">&lt;P CLASS="WHOA-THERE"&gt;Why is my markup shouting?&lt;/P&gt;</pre>

        <h3 id="Trailing_slashes">Trailing slashes</h3>

        <p>Don't include XHTML-style trailing slashes for empty elements, as they are unnecessary and slow things down.
            They can also break old browsers if you are not careful (although from what we can recall, this hasn't been
            a problem since Netscape 4).</p>

        <p>This is fine:</p>

        <pre class="brush: html example-good">&lt;input type="text"&gt;
&lt;hr&gt;</pre>

        <p>The slashes are not needed:</p>

        <pre class="brush: html example-bad">&lt;input type="text" /&gt;
&lt;hr /&gt;</pre>

        <h3 id="Quoting_attributes">Quoting attributes</h3>

        <p>You should put all attribute values in double quotes. It is tempting to omit quotes since HTML5 allows this,
            but markup is neater and easier to read if you do include them. For example, this is better:</p>

        <pre class="brush: html example-good">&lt;img src="images/logo.jpg" alt="A circular globe icon" class="no-border"&gt;</pre>

        <p>than this:</p>

        <pre class="brush: html example-bad">&lt;img src=images/logo.jpg alt=A circular globe icon class=no-border&gt;</pre>

        <p>It can also cause problems — in the above example the <code>alt</code> attribute will be interpreted as
            multiple attributes, because there are no quotes to specify that "A circular globe icon" is a single
            attribute value.</p>

        <h3 id="Use_double_quotes">Use double quotes</h3>

        <p>Use double quotes for HTML, not single quotes:</p>

        <pre class="brush: html example-good">&lt;p class="important"&gt;Yes&lt;/p&gt;</pre>

        <pre class="brush: html example-bad">&lt;p class='important'&gt;Nope&lt;/p&gt;</pre>

        <h3 id="Boolean_attributes">Boolean attributes</h3>

        <p>Don't write out boolean attributes in full; you can just write the attribute name to set it. For example, you
            can write:</p>

        <pre class="brush: html example-good">required</pre>

        <p>This is perfectly understandable and works fine. Instead of writing out the longer version with the value</p>

        <pre class="brush: html example-bad">required="required" </pre>

        <p>Which is supported but not necessary.</p>

        <h3 id="Class_and_ID_names">Class and ID names</h3>

        <p>Use semantic class/ID names, and separate multiple words with hyphens. Don't use camelCase.</p>

        <p>Good:</p>

        <pre class="brush: html example-good">&lt;p class="editorial-summary"&gt;Blah blah blah&lt;/p&gt;</pre>

        <p>Bad:</p>

        <pre class="brush: html example-bad">&lt;p class="bigRedBox"&gt;Blah blah blah&lt;/p&gt;</pre>

        <h3 id="Entity_references">Entity references</h3>

        <p>Don’t use entity references unnecessarily — use the literal character wherever possible (you'll still need to
            escape characters like angle brackets and quote marks).</p>

        <p>As an example you could just write</p>

        <pre class="brush: html example-good">&lt;p&gt;© 2018 Me&lt;/p&gt;</pre>

        <p>Instead of</p>

        <pre class="brush: html example-bad">&lt;p&gt;&amp;copy; 2018 Me&lt;/p&gt;</pre>

        <p>This is fine as long as you declare a UTF-8 character set.</p>
        {% include "../../includes/HTML_next_steps.njk" %}
    </div>

{% endblock %}